@import './roboto/_roboto'

$blue: #056df2
$green: #05f243
$yellow: #f2e005
$red: #d42a22

html, body
    width: 100%
    height: 100%
    font-family: Roboto, Arial, Helvetica, sans-serif


body.green
    background-color: $green

body.yellow
    background-color: $yellow

body.red
    background-color: $red

img.logo
    display: block
    margin: auto
    width: 20%

h1.title
    font-size: 8rem;