doctype html
html
  head
    meta(charset='utf-8')
    title Liam: #{title}
    link(rel='shortcut icon', href='/favicon_' + color + '.png')
    link(rel='stylesheet', href='css/main.css')

  body(class= color)
    div
      img.logo(src="images/logo.png")
      h1.title #{title}
    div
      p test

