// -------------------------------------------------------------
// This file contains basic styles.
// -------------------------------------------------------------

html, body {
    height: 100%;
}
// This wrapper might not want to be here.
ls-wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}
// this is a test
// .new-container {
//     height: 100px;
// }